%html
  %head
    %title Payroll Application
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    = render "layouts/body_threads/svg_threads_left"
    = render "layouts/body_threads/svg_threads_center"
    = render "layouts/body_threads/svg_threads_right"
    %main
      .card
        .card-header
          %h1 Ambiki Payroll Application
        = yield